#logo {
height: 60px;
max-width: 100%;
width: 160px;
justify-content: center;
align-items: center;
}

.search-wrapper {
width: 100%;
max-width: 1344px;
display: flex;
justify-content: center;
align-items: center;
}

// .greeting-wrapper {
// display: flex;
// flex-direction: row-reverse;

// align-items: center;
// }

.the-daddy-div {
display: flex;
flex-direction: row;
}

.center {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}

/* Element | http://localhost:3000/#/ */

.MuiAutocomplete-root {
  width: 100%;
}

/* Element | http://localhost:3000/#/ */

.MuiFormControl-root {
  width: 100%;
}


